In [1]:
import pandas as pd

In [2]:
ds=pd.read_csv("weight-height.csv")

In [3]:
ds.head(5)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
y=ds['Weight']
X=ds['Height']

In [5]:
X

0       73.847017
1       68.781904
2       74.110105
3       71.730978
4       69.881796
          ...
9995    66.172652
9996    67.067155
9997    63.867992
9998    69.034243
9999    61.944246
Name: Height, Length: 10000, dtype: float64

In [6]:
y

0       241.893563
1       162.310473
2       212.740856
3       220.042470
4       206.349801
           ...
9995    136.777454
9996    170.867906
9997    128.475319
9998    163.852461
9999    113.649103
Name: Weight, Length: 10000, dtype: float64

In [7]:
from keras.models import Sequential

In [8]:
from keras.layers import Dense

In [9]:
model=Sequential()

In [10]:
Dense(units=1,activation='linear',input_shape=(1,))

In [11]:
model.add(Dense(bias_initializer='zeros',kernel_initializer='zeros',units=1,activation='linear',input_shape=(1,)))

In [12]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 1)                 2
=================================================================
Total params: 2
Trainable params: 2
Non-trainable params: 0
_________________________________________________________________

In [13]:
#model.compile(optimizer=Adam(),loss='mean_square_error')

In [14]:
from tensorflow.keras.optimizers import Adam

In [17]:
model.compile(optimizer=Adam(),loss='mean_squared_error')

In [18]:
model.fit(X,y)

313/313 [==============================] - 2s 1ms/step - loss: 23878.8828

In [19]:
model.get_weights()

[array([[0.30356786]], dtype=float32), array([0.30380163], dtype=float32)]

In [20]:
model.predict([100])

array([[30.660587]], dtype=float32)

In [21]:
model.save('myNN.h1')

INFO:tensorflow:Assets written to: myNN.h1\assets

In [24]:
model.get_layer("dense_1").input

In [25]:
model.get_layer("dense_1").output